<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ایجاد امین جدید</title>
</head>
<body>
<div th:replace="fragment/header::head"></div>
<div th:replace="fragment/header::nav"></div>

<div style="margin-top:100px;min-height: 735px">
    <div class="col-md-12">
        <div style="text-align: right;padding: 0 15px;">
            <p class="title-page">ایجاد امین جدید</p>
        </div>
    </div>
    <div class="col-md-3"></div>
    <div  class="col-md-6">
        <form role="form" id="registerJobForm" class="form-ui" action="/admin/register" method="post" enctype="multipart/form-data" th:object="${admin}">
            <input type="hidden" name="id"  th:field="*{id}">

            <div class="form-group">

                <label for="firstname">نام</label>
                <input class="form-control" type="text" id="firstname"  th:field="*{firstname}" name="firstname"  />
            </div>

            <div class="form-group">
                <label for="lastname">نام خانوادگی </label>
                <input class="form-control" type="text" id="lastname"  th:field="*{lastname}" name="lastname"  />
            </div>

            <div class="form-group">
                <label for="nationalcode">کدملی </label>
                <input class="form-control" type="text" id="nationalcode"  th:field="*{nationalcode}" name="nationalcode"  />
            </div>

            <div class="form-group">
                <label for="username">ایمیل</label>
                <input class="form-control" type="text" id="username"  th:field="*{username}" name="username"  />
            </div>

            <div class="form-group">
                <label for="password">رمزعبور</label>
                <input class="form-control" type="password" id="password"  th:field="*{password}" name="password"  />
            </div>

            <div class="form-group" style="margin-bottom: 56px;">
                <label for="enabled" style="width: 20px;float: right;">فعال</label>
                <input  type="checkbox" id="enabled"  th:field="*{enabled}" name="enabled" style="float: right; margin: 4px 10px;" />
            </div>

            <div class="form-group">
                <button type="submit"  class="btn btn-success" name="submit" id="submit">ثبت</button>
            </div>
        </form>
    </div>
</div>
<div th:replace="fragment/footer::footer"></div>

</body>
</html>